#!/usr/bin/make -f
# -*- makefile -*-
# Debian rules file for dad-joke package

# Export necessary build flags
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	chmod +x debian/dad_joke/usr/bin/dad_joke.sh
