[Unit]
Description=display dad joke
After=default.target

[Service]
Type=oneshot
ExecStart=$HOME/GIT/dad_joke/dad_joke.sh
PassEnvironment=DISPLAY

[Install]
WantedBy=default.target
